.customize_setting h3 {
    float: left !important;
    width: 75% !important;
}

.customize_setting .actions {
    background: rgba(0, 0, 0, 0) url("../images/border_double2.png") repeat-x scroll center bottom;
    display: block;
    float: right !important;
    margin-top: 5px;
    padding-bottom: 24px;
    width: 25% !important;
}

.customize_setting .actions a:first-child,.responsive_next_prev a:first-child {
    background: #000;
    color: #fff;
    border: none;
}

.customize_setting .actions a:last-child ,.responsive_next_prev a:last-child{
    margin-right: 2px !important;;
}

.customize_slider li {
    display: none;
}

.customize_slider .active-customize {
    display: block;
    transition: width .5s ease, background-color .5s ease;
}

.neck_dtail select {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #9f9f9f;
    color: #000;
    font-family: "ralewaylight";
    font-size: 18px;
    height: 40px;
    margin: auto;
    padding: 6px 10px;
    text-align: left;
    width: 100%;
}

.neck_dtail input, .neck_dtail select {
    width: 50% !important;
}

.cartEmpty {
    background: none !important;
    border: 1px solid #9f9f9f;
}

.cartEmpty ul li .shirt_colmn_list {
    width: 100% !important;
}

.cartEmpty ul li div {
    font-size: 18px;
    text-align: center;
}

.shirt_colmn_list {
    padding: 15px 0 15px 11px !important;
}

.errorMsgs, .successMsgs {
    position: fixed;
    right: 0;
    top: 84px;
    z-index: 99999;
    display: none;
    max-width: 340px;
    min-width: 340px;
    width: 340px;
}

.savingCustomize {
    float: right;
    margin-top: 7px;
    display: none;
}

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
}

.alert-info {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
}

.alert-warning {
    background-color: #fcf8e3;
    border-color: #faebcc;
    color: #8a6d3b;
}

.alert-danger {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}

.alert {
    border: 1px solid transparent;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 15px;
}

.hide {
    display: none !important;
}

.monogramDescription {
    display: none;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 6; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 22%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 19px 16px;
    background-color: #eb9229;
    color: white;
}

.modal-body {
    margin: 5px !important;
    padding: 15px 16px;
}

.modal-body p {
    padding: 12px;
}

.modal-body .activeOption {
    background-color: #5b5b5b;
    color: #FFFFFF;
}

.modal-body .fa {
    display: none;
}

.modal-body .activeOption .fa {
    display: inline-block;
}

.modal-footer {
    padding: 19px 16px;
    background-color: #f1f1f1;
    color: white;
    overflow: hidden;
}

.modal-footer a {
    cursor: pointer;
    width: 144px;
    height: 44px;
    border: 2px solid #eb9229;
    background: #eb9229;
    text-align: center;
    line-height: 40px;
    display: block;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'ralewaylight';
    border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    -webkit-border-radius: 3px;
    transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    -webkit-transition: all .5s;
    float: right;
}

.modal-footer a:hover {
    cursor: pointer;
    color: #FFFFFF;
    transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    -webkit-transition: all .5s;
}

/* -------------- Modal End ------------------------ */

@-webkit-keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.productGallery .Hide {
    -webkit-animation: fadeOut 1s;
    animation: fadeOut 1s;
    pointer-events: none;
    transition: opacity 1s ease-out;
    display: none;

}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.productGallery .Show {
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

.productGallery li {
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.colours_pickers .tooltip {
    position: relative;
    display: inline-block;
/ / border-bottom: 1 px dotted black;
}

.colours_pickers .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -60px;
}

.colours_pickers .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.colours_pickers .tooltip:hover .tooltiptext {
    visibility: visible;
}

.colours_pickers ul li .fa {
    color: #fff;
    position: relative;
    top: -19px;
    left: 4px;
    visibility: hidden;
}

.colours_pickers ul li .tooltiptext {
    top: 91% !important;
}

.disableUpdateCart, .disableNextPrev, .disableNextToCustomize {
    pointer-events: none;
    cursor: default;
    opacity: 0.6;
}

.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.orderDetail, .orderDetailValues {
    width: 50%;
/ / border: 1 px solid #3e454c;
    padding: 20px;
    float: left;
    text-align: center;
}

.orderDetail p, .orderDetailValues p {
    padding: 12px;
    border: 1px solid #3e454c;
}

.customerMeasure select {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #9f9f9f;
    color: #000;
    font-family: "ralewaylight";
    -webkit-appearance: initial !important;
    appearance: normal !important;
    outline: black !important;
    font-size: 18px;
    height: 40px;
    margin: auto;
    padding: 6px 10px;
    text-align: left;
    width: 100%;
}

.customerMeasure th {
    padding: 16px 20px !important;
    text-align: center;
}

.cMeasureButton {
    padding-bottom: 0;
    padding-top: 0;
    text-align: right;
}

.sizeFitorNot:hover {
    cursor: pointer;
}

.customize_slider .stepHeading {
    width: 100%;
    margin: 0px 0 20px;
    text-transform: uppercase;
    font-family: 'ralewaylight';
    font-size: 25px;
}

.customselect_customize span {
    padding: 6px 0px 8px 10px !important;
    background: none !important;
    width: 100% !important;
}

.makeAllSame {
    width: 172px;
    height: 35px;
    border: 2px solid #eb9229;
    background: #eb9229;
    text-align: center;
    line-height: 32px;
    display: block;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'ralewaylight';
    border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    -webkit-border-radius: 3px;
    transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    -webkit-transition: all .5s;
    float: right;
}

.makeAllSameActive {
    opacity: 1;
}

.makeAllSameInactive {
    opacity: 1;
    //opacity: 0.5;
}

.activeSwatchAllSame {
    border: 4px solid #eb9229;
    transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
}

/* ------------ Tab Style Start -------------- */
.giftCardTab ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* Float the list items side by side */
.giftCardTab ul.tab li {
    float: left;
    border: 1px solid #ddd;
}

/* Style the links inside the list items */
.giftCardTab ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
.giftCardTab ul.tab li a:hover {
    background-color: #ddd;
}

.giftCardTab ul li {
    padding-bottom: 0px;
}

/* Create an active/current tablink class */
.giftCardTab .active {
    background-color: #000;
    color: #fff !important;
}

.giftCardTab ul.tab li a:focus, .active {
    background-color: #000;
    color: #fff;
}

/* Style the tab content */
.giftCardTab .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    overflow: hidden;
/ / border-top: none;
}

/* ------------ Tab Style End -------------- */
.gift_amount input {
    background: #FFFFFF;
    padding: 1px 7px;
    margin-left: 11px;
    font-size: 20px;
    width: 98px;
    margin-right: 10px;
    border: 1px solid #3e454c;
}

.gift_amount h5, .gift_amount input, .gift_amount ul {
    float: left;
}

.gift_amount h5 {
    font-weight: bold;
    font-family: ralewaylight;
    font-size: 24px;
    float: left;
}

.gift_amount ul li {
    border: 1px solid #3e454c;
    padding: 4px;
    margin: 0 6px;
    float: left;
}

.gift_amount ul li:hover {
    cursor: pointer;
}

.gift_amount .active {
    background: #000000;
    color: #FFFFFF;
}

.gift_note {
    width: 100%;
    float: left;
    padding: 18px;
}

.gift_note li {
    list-style-type: circle;
}

.giftLEft {
    border-right: 1px solid #ddd;
    padding-right: 28px;
}

.giftCardBtn {
    float: right;
    width: 148px !important;
    height: 36px;
    border: 2px solid #262626;
    background: #262626;
    text-align: center;
    line-height: 32px;
    display: inline-block !important;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    font-family: 'ralewaylight';
    border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    -webkit-border-radius: 3px;
    transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    -webkit-transition: all .5s;
    overflow: hidden;
}

.giftCardBtn:hover {
    background: none;
    color: #262626;
    transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    -webkit-transition: all .5s;
    cursor: pointer;
}
.detailHeading1{
    margin: 8px 0 7px;
}
.detailHeading2{
    margin:8px 0 4px;
}
.responsive_next_prev {
    position: fixed;
    bottom: 0;
    left: 16px;
    display: none;
}
.responsive_next_prev a {
    right: 0;
    float: right !important;

}
.customerDetailInvoice,.customerDetailInvoice table{
    width:100%;
}

.customerDetailInvoice table th {
    width: 10%;
    background: #EEEEEE;
    text-align: left;
    padding-left: 20px;
}
.customerDetailInvoice .specialClass {
    width: 35% !important;
}
.customerDetailInvoice table tr td{
    width: 40%;
}
.customerDetailInvoice table {
    padding-bottom: 4px;
}
.customerDetailInvoice table td{
    padding: 10px;
}
.customerDetailInvoice tr td {
    border: 1px solid #ccc;
}
#loadingSize {
    margin-left: 77px;
    color: black;
    margin-top: 7px;
}
.companyDetail,.otherDetail {
    width: 100%;
    clear:both;
    overflow: hidden;
}

.companyDetail p{
    float: left;
    font-size: 17px;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 12px;
    width: 33%;
}

.companyDetail p strong,.otherDetail strong,#fitStyleDetail li b {
    font-weight: bold;
}

.otherDetail .billTo,.otherDetail .shipTo {
    width: 50%;
    float: left;
    padding: 5px;
}
.otherDetail {
    border: 1px solid #ddd;
}

.otherDetail h3 {
    background: #EEEEEE;
    padding: 5px 5px 5px 8px;
}
.shipTo ul {
    width: 100%;
}
.billTo {
    border-right: 1px solid #ddd;
}

.shipTo ul li {
    font-size: 16px;
    padding: 5px;
    width: 50%;
    float: left;
}
#fitStyleDetail {
    margin-top: 25px;
}
#fitStyleDetail  li {
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 8px;
}
#fitStyleDetail li b {
    margin: 5px 0;
    border-bottom: 1px solid #3e454c;
    padding-bottom: 1px;
}
#fitStyleDetail li b,#fitStyleDetail li p{
    font-size: 16px !important;
}
#fitStyleDetail li p {
    margin-top: 5px;
}