@charset "utf-8";
/* CSS Document */
@media (min-width: 768px) and (max-width: 1229px) {

    #wrapper {
        min-width: 0px;
    }

    .header_dtail {
        padding: 0px 10px;
    }

    .auto_content {
        width: 100%;
    }

    .menu_cart_outer {
        width: auto;
    }

    .mens_menu ul li a {
        font-size: 13px;
    }

    .mens_menu ul li {
        padding-left: 12px;
    }

    .cart_and_search a.icon_search {
        margin-right: 10px;
    }

    .banner_heading {
        padding: 4% 10px 0;
    }

    .banner_heading h3 {
        font-size: 48px;
        padding-bottom: 30px;
    }

    .banner_dtail .bx-controls {
        bottom: 25px;
    }

    .overley_div_list {
        padding: 8px;
    }

    .list_inn_dtail {
        padding: 10px;
    }

    .list_inn_dtail h3 {
        font-size: 18px;
        padding-bottom: 5px;
        text-transform: uppercase;
    }

    .list_inn_dtail p {
        font-size: 12px;
        line-height: 17px;
        padding-bottom: 10px;
    }

    .best_shirt_section {
        background: url(../images/best_shit_section.png) no-repeat #ccc;
        background-size: 215% auto;
        padding-top: 70%;
    }

    .best_shirt_text {
        float: none;
        padding: 8% 10px 7%;
        width: 100%;
    }

    .popular_choices_dtail {
        padding: 65px 10px 30px;
    }

    .popular_choices_list ul li span a {
        font-size: 14px;
        line-height: 1px;
    }

    .popular_choices_list ul li {
        margin-right: 1%;
    }

    .people_says_sectionDtail {
        padding: 65px 10px 150px;
    }

    .people_say {
        width: 49%;
    }

    .footer_top_dtail {
        padding: 20px 10px;
    }

    .footer_logo {
        padding-right: 20px;
        width: 28%;
    }

    .footer_links {
        width: 20%;
    }

    .footer_socialLinks ul li {
        padding-left: 3px;
    }

    .cart_pageDtail {
        padding: 45px 10px;
    }

    .discount_gift {
        width: 390px;
    }

    .login_pasww input[type="submit"] {
        width: 50%;
    }

    .catigLeft_nav_out ul li {
        padding-right: 10px;
    }

    .fabric_bannerDtail {
        padding: 78px 50px;
    }

    .colours_pickers ul li {
        padding-right: 0px;
        margin-right: 4px;
    }

    .customselect span {
        font-size: 12px;
    }

    .pattern_price {
        width: 165px;
    }

    .colours_pickers ul li span {
        height: 16px;
        width: 16px;
    }

    .colours_pickers {
        padding-right: 10px;
    }

    .colours_pickers ul {
        padding-top: 0px;
    }

    .catigLeft_nav_inn {
        margin-top: -3px;
    }

    .customization_itemz_outer {
        width: 60%;
    }

    .customize_rightSection {
        width: 38%;
    }

    .customize_rightSection_content img {
        width: 28%;
    }

    .customize_rightSection_content p {
        font-size: 12px;
        width: 70%;
    }

    .customization_item {
        margin-right: 2%;
        width: 32%;
    }

    .customization_item:nth-of-type(3n) {
        margin-right: 0px;
    }

    .customization_item:nth-of-type(4n) {
        margin-right: 2%;
    }

    .customselect_customize span {
        padding: 6px 25% 8px 10px;
    }

    .customize_page .bx-prev {
        width: 95px;
        right: 100px;
    }

    .customize_page .bx-next {
        width: 95px;
    }

    .servicesTerm p {
        font-size: 13px;
    }

    .check_oyr_paypal .artistProducer label img {
        width: 58%;
    }

    .order_pic {
        width: 19%;
    }

    .my_orderDtail {
        width: 78%;
    }

    .my_orderDtail ul li h6, .my_orderDtail ul li strong {
        text-align: right;
    }

    .cart_and_search a.icon_cart {
        margin-right: 12px;
    }

    .login_profile span {
        width: 22px;
        height: 22px;
    }

    .login_profile a {
        font-size: 11px;
        margin-top: 5px;
    }

    .mens_menu {
        padding-right: 15px;
    }

    .login_profile {
        margin-top: -1px;
    }

    .contact_container.profile_form .contact_map_section {
        width: 30%;
    }

    .profile_pages_list ul li a {
        padding: 0px 10px;
        font-size: 10px;
    }

    .bttnz_two a {
        margin-bottom: 10px;
    }

    .cart_listing_outer.order_view .product_colmn.price_colmn {
        width: 16%;
    }

    .cart_head_profile h3 {
        font-size: 32px;
    }

    .cart_head_profile ul {
        padding-top: 25px;
    }

    .modal-content {
        width: 90%
    }

    .alert {
        border: 1px solid transparent;
        border-radius: 4px;
        float: none;
        margin: auto -44% auto auto !important;
        max-width: 88% !important;
        min-width: 88% !important;
        padding: 15px;
        right: 50% !important;
    }

    .customize_setting .actions {
        width: 100% !important;
        float: none !important;
        margin-top: 16px;
    }

    .cart_container.back_background .cart_head h3 {
        width: 100% !important;
        float: none !important;
    }
}

@media (max-width: 767px) {

    #wrapper {
        min-width: 0px;
    }

    .header_dtail {
        padding: 0px 10px 10px;
    }

    .men_logo {
        float: none;
        margin: auto;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .header {
        height: auto;
        position: relative;
    }

    .mens_menu {
        width: 100%;
        background: #fff;
        position: fixed;
        padding: 60px 10px 20px;
        height: 100%;
        z-index: 22;
        left: 0px;
        top: 0px;
        display: none;
    }

    .mens_menu ul li {
        float: none;
        padding-bottom: 15px;
        padding-left: 0;
    }

    .mens_menu ul li a {
        text-align: center;
    }

    .mens_menu b {
        color: #eb9229;
        font-size: 16px;
        position: absolute;
        right: 20px;
        top: 30px;
        cursor: pointer;
        display: block;
    }

    .search_div {
        top: 100px;
    }

    .card_popup {
        width: 100%;
        top: 26px;
    }

    .menu_cart_outer {
        float: left;
        padding-top: 0;
        width: 100%;
    }

    .cart_and_search a.icon_search {
        margin-right: 10px;
    }

    .menuIcon {
        display: block;
        background: url(../images/mbile_menuBttn.png) no-repeat;
        width: 26px;
        height: 18px;
        background-size: 100% 100%;
        position: absolute;
        right: 0px;
        top: 4px;
    }

    .cart_and_search {
        float: left;
    }

    .auto_content {
        width: 100%;
    }

    .men_tailor_listDtail ul li {
        float: none;
        width: 100%;
    }

    .list_inn_dtail h3 {
        font-size: 18px;
    }

    .list_inn_dtail p {
        font-size: 14px;
        line-height: 20px;
        padding-bottom: 16px;
    }

    .banner_heading {
        padding: 4% 5% 0;
    }

    .banner_heading h3 {
        font-size: 18px;
        padding-bottom: 8px;
    }

    .banner_heading h3 p {
        font-size: 16px;
        padding-top: 8px;
    }

    .banner_heading a {
        font-size: 12px;
        height: 31px;
        line-height: 28px;
        width: 40%;
    }

    .banner_dtail .bx-pager-link {
        display: none;
    }

    .best_shirt_section {
        background: url(../images/best_shit_section.png) no-repeat #ccc;
        background-size: 218% auto;
        padding-top: 70%;
    }

    .best_shirt_text {
        float: none;
        padding: 8% 10px 7%;
        width: 100%;
    }

    .popular_choices_dtail {
        padding: 65px 10px 30px;
        width: 100%;
    }

    .popular_choices_list ul li {
        margin-bottom: 50px;
        margin-right: 0;
        width: 100%;
    }

    .people_says_sectionDtail {
        padding: 65px 10px 100px;
    }

    .people_say {
        float: none;
        width: 100%;
        margin-bottom: 30px;
    }

    .testimonial_section .bx-controls {
        bottom: -20px;
    }

    .footer_top_dtail {
        padding: 20px 10px;
    }

    .footer_logo, .footer_links, .footer_socialLinks {
        float: none;
        width: 100%;
        padding-right: 0px;
        padding-bottom: 30px;
    }

    .footer_socialLinks {
        text-align: center;
    }

    .footer_socialLinks ul li {
        display: inline-block;
        float: none;
        padding: 0 5px;
        width: 14%;
    }

    .copyright p {
        font-size: 9px;
    }

    .cart_pageDtail {
        padding: 45px 10px;
    }

    .shirt_colmn_list {
        padding: 10px 5px;
    }

    .cart_listing_head h5 {
        font-size: 11px;
    }

    .product_colmn_list {
        padding: 15px 10px 20px;
    }

    .product_colmn_list label {
        font-size: 12px;
    }

    .product_colmn_list p {
        font-size: 12px;
    }

    .product_colmn_list.price_colmn_list {
        padding: 15px 0px 20px;
    }

    .product_colmn_list b {
        font-size: 14px;
    }

    .product_colmn_list.q_colmn_list {
        padding: 25px 0px 20px;
    }

    .product_colmn_list input {
        font-size: 12px;
        height: 26px;
        padding-left: 2px;
        width: 90%;
    }

    .product_colmn_list.total_colmn_list {
        padding: 15px 0px 20px;
    }

    .product_colmn_list.total_colmn_list h5 {
        font-size: 12px;
    }

    .cart_listing_head {
        padding: 6px 0 4px;
    }

    .del_icon {
        margin-top: 30px;
    }

    .del_icon a {
        background-size: 100% 100%;
        height: 10px;
        margin-left: 0;
        width: 6px;
    }

    .shopping_total a {
        font-size: 16px;
        height: 48px;
        line-height: 44px;
        margin-bottom: 20px;
        width: 75%;
        float: none;
    }

    .subtotal_dtail {
        float: none;
        width: 100%;
    }

    .discount_gift {
        float: none;
        width: 100%;
    }

    .discount_gift ul li input[type="submit"] {
        width: 36%;
        font-size: 11px;
    }

    .proceed_checkout {
        padding-top: 40px;
        width: 80%;
        float: none;
    }

    .proceed_checkout input[type="submit"] {
        font-size: 16px;
        height: 48px;
        line-height: 44px;
        width: 100%;
    }

    .login_dtail {
        width: 100%;
        float: none;
        margin-bottom: 30px;
    }

    .login_dtail.fr_section {
        float: none;
    }

    .fabric_bannerDtail {
        padding: 50px 10px;
    }

    .colours_pattern {
        float: none;
        padding-bottom: 30px;
        width: 100%;
    }

    .colours_pickers {
        float: none;
        padding-bottom: 10px;
        padding-right: 0;
        width: 100%;
    }

    .colours_pickers label {
        display: block;
        float: none;
        padding-bottom: 10px;
        padding-right: 0;
    }

    .colours_pickers ul {
        float: none;
        margin: 0px;
    }

    .pattern_price {
        float: none;
        margin-top: 0;
    }

    .subtotal_dtail ul li .customselect {
        width: 55%;
        float: right;
    }

    .subtotal_dtail ul li .customselect span {
        overflow: hidden;
       line-height: 26px;
        width: 90%;
    }

    .discount_gift ul li input[type="submit"], .discount_gift ul li input[type="button"] {
        font-size: 11px;
    }

    .customization_itemz_outer {
        float: none;
        width: 100%;
        padding-bottom: 40px;
    }

    .cart_head_profile ul li {
        width: 50%;
        margin-bottom: 10px;
    }

    .customization_item {
        width: 100%;
        float: none;
    }

    .customize_rightSection {
        width: 100%;
        float: none;
    }

    .customize_rightSection_content img {
        float: none;
        width: 100%;
        margin-bottom: 20px;
    }

    .customize_rightSection_content p {
        float: none;
        width: 100%;
    }

    .customize_page {
        padding-top: 50px;
    }

    .customize_page .bx-controls-direction {
        top: 0px;
    }

    .servicesTerm p {
        font-size: 13px;
    }

    .check_oyr_paypal .artistProducer label img {
        width: 58%;
    }

    .my_orderDtail {
        width: 100%;
    }

    .my_orderDtail ul li h6, .my_orderDtail ul li strong {
        text-align: right;
    }

    .cart_and_search a.icon_cart {
        margin-right: 13px;
    }

    .cart_and_search a.icon_login {
        margin-top: 4px;
    }

    .login_profile {
        float: left;
        margin-top: -2px;
    }

    .order_pic span {
        display: block;
        height: 250px;
        overflow: hidden;
        width: 100%;
    }

    .order_pic {
        width: 100%;
        float: none;
    }

    .cart_head h3 {
        font-size: 36px;
    }

    .how_work p {
        font-size: 14px;
        line-height: 23px;
    }

    .how_work_colmn ul li {
        padding: 0px 0px 50px;
        display: block;
        width: 100%;
    }

    .contact_form {
        float: none;
        padding-bottom: 50px;
        width: 100%;
    }

    .contact_map_section {
        width: 100%;
        float: none;
    }

    .cart_head_profile ul {
        padding-top: 20px;
        float: left;
    }

    .cart_head_profile ul li {
        padding-left: 3px;
    }

    .cart_head_profile ul li a {
        font-size: 11px;
        width: 94px !important;
    }

    .cart_head_profile h3 {
        padding-top: 15px;
    }

    .cart_head_profile h3 {
        font-size: 28px;
    }

    .cart_head_profile span {
        width: 65px;
        height: 65px;
        margin-right: 10px;
    }

    .contact_container.profile_form .contact_form {
        width: 100%;
    }

    .contact_container.profile_form .contact_map_section {
        width: 100%;
    }

    .cancel_save a {
        width: 42% !important;
    }

    .cancel_save input[type="submit"] {
        width: 42% !important;
    }

    .cart_listing_outer.order_view .product_colmn_list {
        width: 27%;
    }

    .cart_listing_outer.order_view .product_colmn {
        width: 27%;
    }

    .cart_listing_outer.order_view .product_colmn.price_colmn {
        width: 25%;
    }

    .cart_listing_outer.order_view .product_colmn_list.orderId {
        width: 25%;
    }

    .cart_listing_outer.order_view .product_colmn_list.orderId h5 {
        font-size: 12px;
    }

    .bttnz_two {
        padding: 15px 0 32px;
        width: 26%;
    }

    .bttnz_two a {
        margin-bottom: 5px;
    }

    .font_dec {
        font-size: 22px !important
    }

    .fabric_banner_below .fabric_bannerDtail h1 {
        padding-bottom: 40px;
        margin-bottom: 30px;
        font-size: 24px;
    }

    .fabric_banner_below .fabric_bannerDtail ul li {
        margin-bottom: 60px;
        float: none;
        width: 100%;
    }

    .cart_head_profile ul li a {
        width: 100% !important;
    }

    .modal-content {
        width: 90%
    }

    .cart_container.back_background .cart_head h3 {
        width: 100% !important;
        float: none !important;
        margin-bottom: 20px;
    }

    .customize_setting .actions {
        width: 100% !important;
        float: none !important;
    }

    .gift_amount ul {
        margin-top: 10px;
    }

    .customerMeasure select {
        font-size: 14px;
    }

    .makeAllSame {
        float: none;
    }

    .alert {
        border: 1px solid transparent;
        border-radius: 4px;
        float: none;
        margin: auto -44% auto auto !important;
        max-width: 88% !important;
        min-width: 88% !important;
        padding: 15px;
        right: 50% !important;
    }

    .product_colmn_list.total_colmn_list h5 {
        font-size: 10px;
        word-wrap: break-word;
    }

    .giftCardTab ul li {
        margin-bottom: 20px;
    }

    .actions_customize {
        display: none !important;
    }

    .responsive_next_prev {
        display: block;
    }

    .hideOnMobile{
        display: none !important;
    }

    .best_shirt_text h3 {
        font-size: 30px;
    }
    .best_shirt_text p{
        font-size: 15px;
    }
    .showOnMobile {
        display: block;
    }
    .footer {
        display: none;
    }
    .fabric_bannerDtail h1 {
        font-size: 35px;
    }
    .fabric_banner_below {
        display: none;
    }
    .addBorder {
        border: 1px solid #9d9d9d;
        padding: 4px;
    }
    .responsiveWidth {
        width: 160px !important;
    }
}