<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" /> 
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<title>MEN'S CUSTOM TAILOR </title>
<link rel="stylesheet" type="text/css" href="css/style.css">
<link rel="stylesheet" type="text/css" href="css/responsive.css">  
<link rel="stylesheet" type="text/css" href="css/owl.carousel.css"> 
 
<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="js/my_script.js"></script>   
<script type="text/javascript" src="js/owl.carousel.min.js"></script>
<script type="text/javascript" src="js/jquery.bxslider.js"></script>

<script type="text/javascript">
 
$(document).ready(function(e) { 
  

});	 
 
</script>
 

</head>
<body>
 
     <div id="wrapper">
     	<div class="header">
        	<div class="auto_content">
            	<div class="header_dtail clearfix">
                	<div class="men_logo">
                    	<a href="#"><img src="images/header_logo.png" alt="#" /></a>
                    </div>
                    
                    <div class="menu_cart_outer clearfix">
                    	<div class="mens_menu clearfix">
                        	<b>X</b>
                        	<ul>
                            	<li><a href="#">Home</a></li>
                                <li><a href="#">About</a></li>
                                <li><a href="#">Fabric</a></li>
                                <li><a href="#">Style</a></li>
                                <li><a href="#">Measurements</a></li>
                                <li><a href="#">Contact Us</a></li>
                            </ul>
                        </div>
                        <a href="javascript:void(0)" class="menuIcon">&nbsp;</a>
                        
                        <div class="cart_and_search clearfix">
                        	<a href="javascript:void(0)" class="icon_search">&nbsp;</a>
                            <a href="javascript:void(0)" class="icon_cart">&nbsp;</a>
                             
                        </div>
                        
                        <div class="login_profile clearfix">
                        	<span><img src="images/login_img.png" alt="#" /></span>
                            <a href="#">User Name</a>
                            <ul>
                            	<li><a href="#">lovely</a></li>
                                <li><a href="#">Setting</a></li>
                                <li><a href="#">Log Out</a></li>
                            </ul>
                        </div>
                        <div class="card_popup">
                            <h4>Cart Summary</h4>
                            <ul>
                                <li class="clearfix">
                                    <a href="javascript:void(0)" class="list_close">&nbsp;</a>
                                    <img src="images/shirt_img.png" alt="#" />
                                    <label>Shirt<b>Large x 1</b></label>
                                    <strong>  $625.65</strong>
                                </li>
                                <li class="clearfix">
                                    <a href="javascript:void(0)" class="list_close">&nbsp;</a>
                                    <img src="images/shirt_img.png" alt="#" />
                                    <label>Shirt<b>Large x 1</b></label>
                                    <strong>  $625.65</strong>
                                </li>
                            </ul>
                            <div class="total_cart clearfix">
                            	<h5>TOTAL</h5>
                                <span>  $1,375.65</span>
                            </div>
                            <a href="javascript:void(0)" class="check_bttn">CHECKOUT</a>
                        </div>
                    </div>
                    
                    <div class="search_div">
                        <a href="javascript:void(0)">&nbsp;</a>
                        <input type="search" value="" placeholder="Search..." />
                    </div>
                    
                </div>
            </div>
        </div>
     	
        
        <div class="container">
        	 <div class="cart_container">
             	<div class="auto_content">
                	<div class="cart_pageDtail">
                    	<div class="cart_head clearfix">
                        	<h3>Cart</h3>
                            <a href="#">update cart</a>
                        </div>
                        
                        <div class="cart_listing_outer">
                        	<div class="cart_listing_head clearfix">
                            	<div class="empty_colmn">&nbsp;</div>
                                <div class="product_colmn"><h5>PRODUCT</h5></div>
                                <div class="product_colmn price_colmn"><h5>Price</h5></div>
                                <div class="product_colmn q_colmn"><h5>Quantity</h5></div>
                                <div class="product_colmn total_colmn"><h5>Total</h5></div> 
                            </div>
                            
                            <div class="cart_listing">
                            	<ul>
                                	<li class="clearfix">
                                    	<div class="shirt_colmn_list">
                                        	<img src="images/list_shirt_img.png" alt="#" />
                                        </div>
                                        <div class="product_colmn_list">
                                        	<label>Simple Groom Style Shirt</label>
                                            <p>lorem 1 + 3.5 ipswm, 25 ipswm </p>
                                        </div>
                                        <div class="product_colmn_list price_colmn_list">
                                        	<b>$250</b>
                                        </div>
                                        <div class="product_colmn_list q_colmn_list">
                                        	<input type="number" value="1" />
                                        </div>
                                        <div class="product_colmn_list total_colmn_list">
                                        	<h5>$250</h5>
                                        </div> 
                                        <div class="del_icon">
                                        	<a href="javascript:void(0)">&nbsp;</a>
                                        </div>
                                    </li>
                                    
                                    <li class="clearfix">
                                    	<div class="shirt_colmn_list">
                                        	<img src="images/list_shirt_img.png" alt="#" />
                                        </div>
                                        <div class="product_colmn_list">
                                        	<label>Simple Groom Style Shirt</label>
                                            <p>lorem 1 + 3.5 ipswm, 25 ipswm </p>
                                        </div>
                                        <div class="product_colmn_list price_colmn_list">
                                        	<b>$250</b>
                                        </div>
                                        <div class="product_colmn_list q_colmn_list">
                                        	<input type="number" value="1" />
                                        </div>
                                        <div class="product_colmn_list total_colmn_list">
                                        	<h5>$250</h5>
                                        </div> 
                                        <div class="del_icon">
                                        	<a href="javascript:void(0)">&nbsp;</a>
                                        </div>
                                    </li>
                                    
                                    <li class="clearfix">
                                    	<div class="shirt_colmn_list">
                                        	<img src="images/list_shirt_img.png" alt="#" />
                                        </div>
                                        <div class="product_colmn_list">
                                        	<label>Simple Groom Style Shirt</label>
                                            <p>lorem 1 + 3.5 ipswm, 25 ipswm </p>
                                        </div>
                                        <div class="product_colmn_list price_colmn_list">
                                        	<b>$250</b>
                                        </div>
                                        <div class="product_colmn_list q_colmn_list">
                                        	<input type="number" value="1" />
                                        </div>
                                        <div class="product_colmn_list total_colmn_list">
                                        	<h5>$250</h5>
                                        </div> 
                                        <div class="del_icon">
                                        	<a href="javascript:void(0)">&nbsp;</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            
                            <div class="shopping_total clearfix">
                            	<a href="#">Continue Shopping</a>
                                
                                <div class="subtotal_dtail">
                                	<ul>
                                    	<li class="clearfix">
                                        	<span>Subtotal</span>
                                            <strong>$750</strong>
                                        </li>
                                        <li class="clearfix">
                                        	<span>Shipping</span>
                                            <strong>Free Shipping</strong>
                                        </li>
                                        <li class="clearfix">
                                        	<span>TOTAL</span>
                                            <strong>$750</strong>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        
                        <div class="discount_gift_cards clearfix">
                        	<div class="discount_gift">
                            	<ul>
                                	<li>
                                    	<label>Discount Code</label>
                                        <div class="discount_inputs clearfix">
                                        	<input type="text" value="" />
                                            <input type="submit" value="Apply Coupon" />
                                        </div>
                                    </li>
                                    
                                    <li>
                                    	<label>Gift Card</label>
                                        <div class="discount_inputs clearfix">
                                        	<input type="text" value="" />
                                            <input type="submit" value="Add Gift Card" />
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            
                            <div class="proceed_checkout">
                            	<input type="submit" value="Proceed to Checkout" />
                            </div>
                        </div>
                    </div>
                </div>
             </div>
        </div>
        
        
        <div class="footer">
        	<div class="footer_top">
            	<div class="auto_content">
                	<div class="footer_top_dtail clearfix">
                    	<div class="footer_logo">
                        	<a href="#"><img src="images/header_logo.png" alt="#" /></a>
                            <p>Lorem Ipsum available but the have 
                                suffered alteration in some form orem 
                                Ipsum is that it has a more-or-less 
                                normal distribution of letters, as 
                                opposed making it look like readable.</p>
                        </div>
                        
                        <div class="footer_links">
                        	<ul>
                            	<li><a href="#">Home </a></li>
                                <li><a href="#">About</a></li>
                                <li><a href="#">Fabric</a></li>
                                <li><a href="#">Style</a></li>
                                <li><a href="#">Measurements</a></li>
                                <li><a href="#">Contact Us</a></li>
                            </ul>
                        </div>
                        <div class="footer_links">
                        	<ul>
                            	<li><a href="#">Home </a></li>
                                <li><a href="#">About</a></li>
                                <li><a href="#">Fabric</a></li>
                                <li><a href="#">Style</a></li>
                                <li><a href="#">Measurements</a></li>
                                <li><a href="#">Contact Us</a></li>
                            </ul>
                        </div>
                        
                        <div class="footer_socialLinks">
                        	<ul>
                            	<li><a href="#"><img src="images/fb_icon.png" alt="#" /></a></li>
                                <li><a href="#"><img src="images/twit_icon.png" alt="#" /></a></li>
                                <li><a href="#"><img src="images/google_icon.png" alt="#" /></a></li>
                                <li><a href="#"><img src="images/linked_icon.png" alt="#" /></a></li>
                                <li><a href="#"><img src="images/insta_icon.png" alt="#" /></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="copyright">
            	<p>© Copyright 2016 men’s custom tailor. All Rights Reserved.</p>
            </div>
        </div>  
        
     </div>
    
</body>
</html>
