<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>MEN'S CUSTOM TAILOR </title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/responsive.css">
    <link rel="stylesheet" type="text/css" href="css/owl.carousel.css">

    <script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="js/my_script.js"></script>
    <script type="text/javascript" src="js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="js/jquery.bxslider.js"></script>

    <script type="text/javascript">

        $(document).ready(function (e) {


        });

    </script>


</head>
<body>

<div id="wrapper">
    <div class="header">
        <div class="auto_content">
            <div class="header_dtail clearfix">
                <div class="men_logo">
                    <a href="#"><img src="images/header_logo.png" alt="#"/></a>
                </div>

                <div class="menu_cart_outer clearfix">
                    <div class="mens_menu clearfix">
                        <b>X</b>
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Fabric</a></li>
                            <li><a href="#">Style</a></li>
                            <li><a href="#">Measurements</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </div>
                    <a href="javascript:void(0)" class="menuIcon">&nbsp;</a>

                    <div class="cart_and_search clearfix">
                        <a href="javascript:void(0)" class="icon_search">&nbsp;</a>
                        <a href="javascript:void(0)" class="icon_cart">&nbsp;</a>

                    </div>
                    <div class="card_popup">
                        <h4>Cart Summary</h4>
                        <ul>
                            <li class="clearfix">
                                <a href="javascript:void(0)" class="list_close">&nbsp;</a>
                                <img src="images/shirt_img.png" alt="#"/>
                                <label>Shirt<b>Large x 1</b></label>
                                <strong> $625.65</strong>
                            </li>
                            <li class="clearfix">
                                <a href="javascript:void(0)" class="list_close">&nbsp;</a>
                                <img src="images/shirt_img.png" alt="#"/>
                                <label>Shirt<b>Large x 1</b></label>
                                <strong> $625.65</strong>
                            </li>
                        </ul>
                        <div class="total_cart clearfix">
                            <h5>TOTAL</h5>
                            <span>  $1,375.65</span>
                        </div>
                        <a href="javascript:void(0)" class="check_bttn">CHECKOUT</a>
                    </div>
                </div>

                <div class="search_div">
                    <a href="javascript:void(0)">&nbsp;</a>
                    <input type="search" value="" placeholder="Search..."/>
                </div>

            </div>
        </div>
    </div>


    <div class="container">
        <div class="cart_container">
            <div class="auto_content">
                <div class="cart_pageDtail">
                    <div class="cart_head border_header clearfix">
                        <h3>Contact Us</h3>
                    </div>

                    <div class="contact_container clearfix">
                        <div class="contact_form">
                            <h4>LET’S HAVE A CHAT</h4>

                            <ul>
                                <li>
                                    <label>Name</label>
                                    <input type="text" value=""/>
                                </li>
                                <li>
                                    <label>Email</label>
                                    <input type="email" value=""/>
                                </li>
                                <li>
                                    <label>Message</label>
                                    <textarea></textarea>
                                </li>
                                <li><input type="submit" value="Send"/></li>
                            </ul>
                        </div>

                        <div class="contact_map_section">
                            <div class="map_div">
                                <img src="images/map_img.png" alt="#"/>
                            </div>

                            <div class="contact_info">
                                <h4>Contact Informations</h4>
                                <p>Eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                    veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                    consequat.</p>

                                <ul>
                                    <li><b>Address :</b> 1234, Mountain View, CA 94043</li>
                                    <li><b>E-mail :</b> <a href="#">email@domain.com</a></li>
                                    <li><b>Phone :</b> +1 111-888-000</li>
                                    <li><b>Fax : </b> +1 111-888-0001</li>
                                </ul>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>


    <div class="footer">
        <div class="footer_top">
            <div class="auto_content">
                <div class="footer_top_dtail clearfix">
                    <div class="footer_logo">
                        <a href="#"><img src="images/header_logo.png" alt="#"/></a>
                        <p>Lorem Ipsum available but the have
                            suffered alteration in some form orem
                            Ipsum is that it has a more-or-less
                            normal distribution of letters, as
                            opposed making it look like readable.</p>
                    </div>

                    <div class="footer_links">
                        <ul>
                            <li><a href="#">Home </a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Fabric</a></li>
                            <li><a href="#">Style</a></li>
                            <li><a href="#">Measurements</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </div>
                    <div class="footer_links">
                        <ul>
                            <li><a href="#">Home </a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Fabric</a></li>
                            <li><a href="#">Style</a></li>
                            <li><a href="#">Measurements</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </div>

                    <div class="footer_socialLinks">
                        <ul>
                            <li><a href="#"><img src="images/fb_icon.png" alt="#"/></a></li>
                            <li><a href="#"><img src="images/twit_icon.png" alt="#"/></a></li>
                            <li><a href="#"><img src="images/google_icon.png" alt="#"/></a></li>
                            <li><a href="#"><img src="images/linked_icon.png" alt="#"/></a></li>
                            <li><a href="#"><img src="images/insta_icon.png" alt="#"/></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="copyright">
            <p>© Copyright 2016 men’s custom tailor. All Rights Reserved.</p>
        </div>
    </div>

</div>

</body>
</html>
