<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>MEN'S CUSTOM TAILOR </title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/responsive.css">
    <link rel="stylesheet" type="text/css" href="css/owl.carousel.css">

    <script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="js/my_script.js"></script>
    <script type="text/javascript" src="js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="js/jquery.bxslider.js"></script>

    <script type="text/javascript">

        $(document).ready(function (e) {

            $('.customize_slider').bxSlider({
                minSlides: 1,
                maxSlides: 1,

            });
        });

    </script>


</head>
<body>

<div id="wrapper">
    <div class="header">
        <div class="auto_content">
            <div class="header_dtail clearfix">
                <div class="men_logo">
                    <a href="#"><img src="images/header_logo.png" alt="#"/></a>
                </div>

                <div class="menu_cart_outer clearfix">
                    <div class="mens_menu clearfix">
                        <b>X</b>
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Fabric</a></li>
                            <li><a href="#">Style</a></li>
                            <li><a href="#">Measurements</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </div>
                    <a href="javascript:void(0)" class="menuIcon">&nbsp;</a>

                    <div class="cart_and_search clearfix">
                        <a href="javascript:void(0)" class="icon_search">&nbsp;</a>
                        <a href="javascript:void(0)" class="icon_cart">&nbsp;</a>

                    </div>
                    <div class="card_popup">
                        <h4>Cart Summary</h4>
                        <ul>
                            <li class="clearfix">
                                <a href="javascript:void(0)" class="list_close">&nbsp;</a>
                                <img src="images/shirt_img.png" alt="#"/>
                                <label>Shirt<b>Large x 1</b></label>
                                <strong> $625.65</strong>
                            </li>
                            <li class="clearfix">
                                <a href="javascript:void(0)" class="list_close">&nbsp;</a>
                                <img src="images/shirt_img.png" alt="#"/>
                                <label>Shirt<b>Large x 1</b></label>
                                <strong> $625.65</strong>
                            </li>
                        </ul>
                        <div class="total_cart clearfix">
                            <h5>TOTAL</h5>
                            <span>  $1,375.65</span>
                        </div>
                        <a href="javascript:void(0)" class="check_bttn">CHECKOUT</a>
                    </div>
                </div>

                <div class="search_div">
                    <a href="javascript:void(0)">&nbsp;</a>
                    <input type="search" value="" placeholder="Search..."/>
                </div>

            </div>
        </div>
    </div>


    <div class="container">
        <div class="cart_container back_background">
            <div class="auto_content">
                <div class="cart_pageDtail">
                    <div class="cart_head clearfix">
                        <h3>CUSTOMIZE Your Shirts </h3>
                    </div>


                    <div class="customize_page">
                        <ul class="customize_slider">
                            <li>
                                <div class="customization_outer clearfix">
                                    <div class="customization_itemz_outer">
                                        <div class="customization_item">
                                            <div class="artistProducer clearfix">
                                                <label><input type="radio" name="producer">&nbsp;</label>
                                            </div>
                                            <img src="images/colrr_img.png" alt="#"/>
                                            <div class="customization_dropdown">
                                                <div class="customselect_customize">
                                                    <span>Classic Small</span>
                                                    <select>
                                                        <option>Classic Small<br> back height 3 cm <br> collar point 5.5
                                                            cm
                                                        </option>
                                                        <option>Classic Mediam <br>back height 3 cm <br> collar point
                                                            5.5 cm
                                                        </option>
                                                        <option>Classic Large <br>back height 3 cm <br> collar point 5.5
                                                            cm
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="customization_item">
                                            <div class="artistProducer clearfix">
                                                <label><input type="radio" name="producer">&nbsp;</label>
                                            </div>
                                            <img src="images/colrr_img.png" alt="#"/>
                                            <div class="customization_dropdown">
                                                <div class="customselect_customize">
                                                    <span>Classic Small</span>
                                                    <select>
                                                        <option>Classic Small<br> back height 3 cm <br> collar point 5.5
                                                            cm
                                                        </option>
                                                        <option>Classic Mediam <br>back height 3 cm <br> collar point
                                                            5.5 cm
                                                        </option>
                                                        <option>Classic Large <br>back height 3 cm <br> collar point 5.5
                                                            cm
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="customization_item">
                                            <div class="artistProducer clearfix">
                                                <label><input type="radio" name="producer">&nbsp;</label>
                                            </div>
                                            <img src="images/colrr_img.png" alt="#"/>
                                            <div class="customization_dropdown">
                                                <div class="customselect_customize">
                                                    <span>Classic Small</span>
                                                    <select>
                                                        <option>Classic Small<br> back height 3 cm <br> collar point 5.5
                                                            cm
                                                        </option>
                                                        <option>Classic Mediam <br>back height 3 cm <br> collar point
                                                            5.5 cm
                                                        </option>
                                                        <option>Classic Large <br>back height 3 cm <br> collar point 5.5
                                                            cm
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="customization_item">
                                            <div class="artistProducer clearfix">
                                                <label><input type="radio" name="producer">&nbsp;</label>
                                            </div>
                                            <img src="images/colrr_img.png" alt="#"/>
                                            <div class="customization_dropdown">
                                                <div class="customselect_customize">
                                                    <span>Classic Small</span>
                                                    <select>
                                                        <option>Classic Small<br> back height 3 cm <br> collar point 5.5
                                                            cm
                                                        </option>
                                                        <option>Classic Mediam <br>back height 3 cm <br> collar point
                                                            5.5 cm
                                                        </option>
                                                        <option>Classic Large <br>back height 3 cm <br> collar point 5.5
                                                            cm
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="customization_item">
                                            <div class="artistProducer clearfix">
                                                <label><input type="radio" name="producer">&nbsp;</label>
                                            </div>
                                            <img src="images/colrr_img.png" alt="#"/>
                                            <div class="customization_dropdown">
                                                <div class="customselect_customize">
                                                    <span>Classic Small</span>
                                                    <select>
                                                        <option>Classic Small<br> back height 3 cm <br> collar point 5.5
                                                            cm
                                                        </option>
                                                        <option>Classic Mediam <br>back height 3 cm <br> collar point
                                                            5.5 cm
                                                        </option>
                                                        <option>Classic Large <br>back height 3 cm <br> collar point 5.5
                                                            cm
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="customization_item">
                                            <div class="artistProducer clearfix">
                                                <label><input type="radio" name="producer">&nbsp;</label>
                                            </div>
                                            <img src="images/colrr_img.png" alt="#"/>
                                            <div class="customization_dropdown">
                                                <div class="customselect_customize">
                                                    <span>Classic Small</span>
                                                    <select>
                                                        <option>Classic Small<br> back height 3 cm <br> collar point 5.5
                                                            cm
                                                        </option>
                                                        <option>Classic Mediam <br>back height 3 cm <br> collar point
                                                            5.5 cm
                                                        </option>
                                                        <option>Classic Large <br>back height 3 cm <br> collar point 5.5
                                                            cm
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="customize_rightSection">

                                        <div class="swathces_images clearfix">
                                            <ul>
                                                <li><span><img src="images/colrr_full_img.png" alt="#"/></span></li>
                                                <li><span><img src="images/colrr_full_img.png" alt="#"/></span></li>
                                                <li><span class="active_swatch"><img src="images/colrr_full_img.png"
                                                                                     alt="#"/></span></li>
                                                <li><span><img src="images/colrr_full_img.png" alt="#"/></span></li>
                                                <li><span><img src="images/colrr_full_img.png" alt="#"/></span></li>
                                                <li><span><img src="images/colrr_full_img.png" alt="#"/></span></li>
                                                <li><span><img src="images/colrr_full_img.png" alt="#"/></span></li>
                                            </ul>
                                        </div>

                                        <div class="customize_rightSection_content clearfix">
                                            <img src="images/colrr_full_img.png" alt="#"/>
                                            <p>The Medium Collar is the most
                                                popular and versatile option as it
                                                complements most face shapes
                                                and tie-knots. Spread is also
                                                well-liked and flattering on most
                                                people. View the gallery below
                                                for recommendations on which
                                                of our fashionable collars will
                                                best compliment your face
                                                shape and preference of
                                                tie-knot.</p>
                                        </div>

                                        <div class="neck_dtail">
                                            <label>Neck:</label>
                                            <p>The neck measurement is taken around the neck with the
                                                tape resting on your shoulders. You should put one finger
                                                between the tape and the neck if you want to allow for
                                                some extra room.</p>
                                            <input type="text" value="" placeholder="in/ cm"/>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="customization_outer clearfix">
                                    <div class="customization_itemz_outer">
                                        <img src="images/slider_img.png" alt="#"/>
                                    </div>


                                    <div class="customize_rightSection">
                                        <div class="customize_rightSection_content clearfix">
                                            <img src="images/colrr_full_img.png" alt="#"/>
                                            <p>The Medium Collar is the most
                                                popular and versatile option as it
                                                complements most face shapes
                                                and tie-knots. Spread is also
                                                well-liked and flattering on most
                                                people. View the gallery below
                                                for recommendations on which
                                                of our fashionable collars will
                                                best compliment your face
                                                shape and preference of
                                                tie-knot.</p>
                                        </div>

                                        <div class="neck_dtail">
                                            <label>Neck:</label>
                                            <p>The neck measurement is taken around the neck with the
                                                tape resting on your shoulders. You should put one finger
                                                between the tape and the neck if you want to allow for
                                                some extra room.</p>
                                            <input type="text" value="" placeholder="in/ cm"/>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="customization_outer clearfix">
                                    <div class="customization_itemz_outer">
                                        <div class="customization_item">
                                            <div class="artistProducer clearfix">
                                                <label><input type="radio" name="producer">&nbsp;</label>
                                            </div>
                                            <img src="images/colrr_img.png" alt="#"/>
                                            <div class="customization_dropdown">
                                                <div class="customselect_customize">
                                                    <span>Classic Small</span>
                                                    <select>
                                                        <option>Classic Small<br> back height 3 cm <br> collar point 5.5
                                                            cm
                                                        </option>
                                                        <option>Classic Mediam <br>back height 3 cm <br> collar point
                                                            5.5 cm
                                                        </option>
                                                        <option>Classic Large <br>back height 3 cm <br> collar point 5.5
                                                            cm
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="customization_item">
                                            <div class="artistProducer clearfix">
                                                <label><input type="radio" name="producer">&nbsp;</label>
                                            </div>
                                            <img src="images/colrr_img.png" alt="#"/>
                                            <div class="customization_dropdown">
                                                <div class="customselect_customize">
                                                    <span>Classic Small</span>
                                                    <select>
                                                        <option>Classic Small<br> back height 3 cm <br> collar point 5.5
                                                            cm
                                                        </option>
                                                        <option>Classic Mediam <br>back height 3 cm <br> collar point
                                                            5.5 cm
                                                        </option>
                                                        <option>Classic Large <br>back height 3 cm <br> collar point 5.5
                                                            cm
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="customization_item">
                                            <div class="artistProducer clearfix">
                                                <label><input type="radio" name="producer">&nbsp;</label>
                                            </div>
                                            <img src="images/colrr_img.png" alt="#"/>
                                            <div class="customization_dropdown">
                                                <div class="customselect_customize">
                                                    <span>Classic Small</span>
                                                    <select>
                                                        <option>Classic Small<br> back height 3 cm <br> collar point 5.5
                                                            cm
                                                        </option>
                                                        <option>Classic Mediam <br>back height 3 cm <br> collar point
                                                            5.5 cm
                                                        </option>
                                                        <option>Classic Large <br>back height 3 cm <br> collar point 5.5
                                                            cm
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="customization_item">
                                            <div class="artistProducer clearfix">
                                                <label><input type="radio" name="producer">&nbsp;</label>
                                            </div>
                                            <img src="images/colrr_img.png" alt="#"/>
                                            <div class="customization_dropdown">
                                                <div class="customselect_customize">
                                                    <span>Classic Small</span>
                                                    <select>
                                                        <option>Classic Small<br> back height 3 cm <br> collar point 5.5
                                                            cm
                                                        </option>
                                                        <option>Classic Mediam <br>back height 3 cm <br> collar point
                                                            5.5 cm
                                                        </option>
                                                        <option>Classic Large <br>back height 3 cm <br> collar point 5.5
                                                            cm
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="customization_item">
                                            <div class="artistProducer clearfix">
                                                <label><input type="radio" name="producer">&nbsp;</label>
                                            </div>
                                            <img src="images/colrr_img.png" alt="#"/>
                                            <div class="customization_dropdown">
                                                <div class="customselect_customize">
                                                    <span>Classic Small</span>
                                                    <select>
                                                        <option>Classic Small<br> back height 3 cm <br> collar point 5.5
                                                            cm
                                                        </option>
                                                        <option>Classic Mediam <br>back height 3 cm <br> collar point
                                                            5.5 cm
                                                        </option>
                                                        <option>Classic Large <br>back height 3 cm <br> collar point 5.5
                                                            cm
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="customization_item">
                                            <div class="artistProducer clearfix">
                                                <label><input type="radio" name="producer">&nbsp;</label>
                                            </div>
                                            <img src="images/colrr_img.png" alt="#"/>
                                            <div class="customization_dropdown">
                                                <div class="customselect_customize">
                                                    <span>Classic Small</span>
                                                    <select>
                                                        <option>Classic Small<br> back height 3 cm <br> collar point 5.5
                                                            cm
                                                        </option>
                                                        <option>Classic Mediam <br>back height 3 cm <br> collar point
                                                            5.5 cm
                                                        </option>
                                                        <option>Classic Large <br>back height 3 cm <br> collar point 5.5
                                                            cm
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="customize_rightSection">
                                        <div class="customize_rightSection_content clearfix">
                                            <img src="images/colrr_full_img.png" alt="#"/>
                                            <p>The Medium Collar is the most
                                                popular and versatile option as it
                                                complements most face shapes
                                                and tie-knots. Spread is also
                                                well-liked and flattering on most
                                                people. View the gallery below
                                                for recommendations on which
                                                of our fashionable collars will
                                                best compliment your face
                                                shape and preference of
                                                tie-knot.</p>
                                        </div>

                                        <div class="neck_dtail">
                                            <label>Neck:</label>
                                            <p>The neck measurement is taken around the neck with the
                                                tape resting on your shoulders. You should put one finger
                                                between the tape and the neck if you want to allow for
                                                some extra room.</p>
                                            <input type="text" value="" placeholder="in/ cm"/>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>

                    </div>


                </div>
            </div>
        </div>
    </div>


    <div class="footer">
        <div class="footer_top">
            <div class="auto_content">
                <div class="footer_top_dtail clearfix">
                    <div class="footer_logo">
                        <a href="#"><img src="images/header_logo.png" alt="#"/></a>
                        <p>Lorem Ipsum available but the have
                            suffered alteration in some form orem
                            Ipsum is that it has a more-or-less
                            normal distribution of letters, as
                            opposed making it look like readable.</p>
                    </div>

                    <div class="footer_links">
                        <ul>
                            <li><a href="#">Home </a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Fabric</a></li>
                            <li><a href="#">Style</a></li>
                            <li><a href="#">Measurements</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </div>
                    <div class="footer_links">
                        <ul>
                            <li><a href="#">Home </a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Fabric</a></li>
                            <li><a href="#">Style</a></li>
                            <li><a href="#">Measurements</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </div>

                    <div class="footer_socialLinks">
                        <ul>
                            <li><a href="#"><img src="images/fb_icon.png" alt="#"/></a></li>
                            <li><a href="#"><img src="images/twit_icon.png" alt="#"/></a></li>
                            <li><a href="#"><img src="images/google_icon.png" alt="#"/></a></li>
                            <li><a href="#"><img src="images/linked_icon.png" alt="#"/></a></li>
                            <li><a href="#"><img src="images/insta_icon.png" alt="#"/></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="copyright">
            <p>© Copyright 2016 men’s custom tailor. All Rights Reserved.</p>
        </div>
    </div>

</div>

</body>
</html>
