<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>MEN'S CUSTOM TAILOR </title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/responsive.css">
    <link rel="stylesheet" type="text/css" href="css/owl.carousel.css">

    <script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="js/my_script.js"></script>
    <script type="text/javascript" src="js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="js/jquery.bxslider.js"></script>

    <script type="text/javascript">

        $(document).ready(function (e) {


        });

    </script>


</head>
<body class="page--filtering" data-page="filtering" data-page-id="home">

<div id="wrapper" data-js-module="filtering-demo" role="main" class="page-container current-page">
    <div class="header">
        <div class="auto_content">
            <div class="header_dtail clearfix">
                <div class="men_logo">
                    <a href="#"><img src="images/header_logo.png" alt="#"/></a>
                </div>

                <div class="menu_cart_outer clearfix">
                    <div class="mens_menu clearfix">
                        <b>X</b>
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Fabric</a></li>
                            <li><a href="#">Style</a></li>
                            <li><a href="#">Measurements</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </div>
                    <a href="javascript:void(0)" class="menuIcon">&nbsp;</a>

                    <div class="cart_and_search clearfix">
                        <a href="javascript:void(0)" class="icon_search">&nbsp;</a>
                        <a href="javascript:void(0)" class="icon_cart">&nbsp;</a>

                    </div>
                    <div class="card_popup">
                        <h4>Cart Summary</h4>
                        <ul>
                            <li class="clearfix">
                                <a href="javascript:void(0)" class="list_close">&nbsp;</a>
                                <img src="images/shirt_img.png" alt="#"/>
                                <label>Shirt<b>Large x 1</b></label>
                                <strong> $625.65</strong>
                            </li>
                            <li class="clearfix">
                                <a href="javascript:void(0)" class="list_close">&nbsp;</a>
                                <img src="images/shirt_img.png" alt="#"/>
                                <label>Shirt<b>Large x 1</b></label>
                                <strong> $625.65</strong>
                            </li>
                        </ul>
                        <div class="total_cart clearfix">
                            <h5>TOTAL</h5>
                            <span>  $1,375.65</span>
                        </div>
                        <a href="javascript:void(0)" class="check_bttn">CHECKOUT</a>
                    </div>
                </div>

                <div class="search_div">
                    <a href="javascript:void(0)">&nbsp;</a>
                    <input type="search" value="" placeholder="Search..."/>
                </div>

            </div>
        </div>
    </div>


    <div class="container">

        <div class="fabric_banner">
            <div class="auto_content">
                <div class="fabric_bannerDtail">
                    <h1>Shirts</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam aliquet mi <br> sit amet venenatis
                        iaculis</p>
                </div>
            </div>
        </div>

        <div class="cart_container fabric_cont">
            <div class="auto_content">
                <div class="cart_pageDtail">

                    <div class="our_woRks clearfix">

                        <div class="catigLeft_nav_out clearfix">
                            <div class="colours_pattern clearfix">
                                <div class="colours_pickers clearfix">
                                    <label>ALL COLORS</label>
                                    <ul>
                                        <li><span style="background:#000;">&nbsp;</span></li>
                                        <li><span style="background:#444b5f;">&nbsp;</span></li>
                                        <li><span style="background:#989ca2;">&nbsp;</span></li>
                                        <li><span style="background:#e86830;">&nbsp;</span></li>
                                        <li><span style="background:#f0086c;">&nbsp;</span></li>
                                        <li><span style="background:#f5f5dc;">&nbsp;</span></li>
                                        <li><span style="background:#eee966;">&nbsp;</span></li>
                                        <li><span style="background:#8930e8;">&nbsp;</span></li>
                                        <li><span style="background:#a9474c;">&nbsp;</span></li>
                                        <li><span style="background:#8ea097;">&nbsp;</span></li>
                                    </ul>
                                </div>

                                <div class="pattern_price clearfix">
                                    <div class="pattern_dropdown">
                                        <div class="customselect">
                                            <span>Pattern</span>
                                            <select>
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="pattern_dropdown priceDrop">
                                        <div class="customselect">
                                            <span>price</span>
                                            <select>
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="catigLeft_nav_inn filter-button-group button-group js-radio-button-group clearfix">
                                <ul>
                                    <li>
                                        <button class="button is-checked" data-filter="*">ALL</button>
                                    </li>
                                    <li>
                                        <button class="button" data-filter=".metal">DRESS</button>
                                    </li>
                                    <li>
                                        <button class="button" data-filter=".transition">PREMIUM</button>
                                    </li>
                                    <li>
                                        <button class="button" data-filter=".alkali">TUXEDO</button>
                                    </li>
                                </ul>
                            </div>
                        </div>


                        <div class="popular_choices_list some_change clearfix">
                            <ul class="grid">
                                <li class="element-item transition metal " data-category="transition">
                                    <a href="#">
                                        <img src="images/shirt_img1.png" alt="#"/>
                                        <img src="images/fabric_zoomImg.png" alt="#" class="zoom_pic"/>
                                        <img src="images/new_img.png" alt="#" class="new_icon"/>
                                    </a>
                                    <span>
                                    	<b>premium</b>
                                        <a href="#">Fineline Dress Shirt</a>
                                         
                                    </span>
                                    <div class="check_quentity clearfix">
                                        <div class="servicesTerm">
                                            <label><input type="checkbox"></label>
                                        </div>

                                        <div class="customselect">
                                            <span>Qty</span>
                                            <select>
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                            </select>
                                        </div>
                                        <i>$89.50</i>
                                    </div>
                                </li>
                                <li class="element-item metalloid" data-category="metalloid">
                                    <a href="#">
                                        <img src="images/shirt_img2.png" alt="#"/>
                                    </a>
                                    <span>
                                    	<b>premium</b>
                                        <a href="#">Fineline Dress Shirt</a>
                                         
                                    </span>
                                    <div class="check_quentity clearfix">
                                        <div class="servicesTerm">
                                            <label><input type="checkbox"></label>
                                        </div>

                                        <div class="customselect">
                                            <span>Qty</span>
                                            <select>
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                            </select>
                                        </div>
                                        <i>$89.50</i>
                                    </div>
                                </li>
                                <li class="element-item post-transition metal " data-category="post-transition">
                                    <a href="#">
                                        <img src="images/shirt_img1.png" alt="#"/>
                                    </a>
                                    <span>
                                        <a href="#">Fineline Dress Shirt</a>
                                        $89.50
                                    </span>
                                </li>
                                <li class="element-item post-transition metal " data-category="post-transition">
                                    <a href="#">
                                        <img src="images/shirt_img4.png" alt="#"/>
                                    </a>
                                    <span>
                                        <a href="#">Fineline Dress Shirt</a>
                                        $89.50
                                    </span>
                                </li>
                                <li class="element-item transition metal " data-category="transition">
                                    <a href="#">
                                        <img src="images/shirt_img2.png" alt="#"/>
                                    </a>
                                    <span>
                                        <a href="#">Adams Red Multi Check</a>
                                        $89.50
                                    </span>
                                </li>
                                <li class="element-item alkali metal " data-category="alkali">
                                    <a href="#">
                                        <img src="images/shirt_img1.png" alt="#"/>
                                    </a>
                                    <span>
                                        <a href="#">Fineline Dress Shirt</a>
                                        $89.50
                                    </span>
                                </li>


                            </ul>

                        </div>

                    </div>


                </div>
            </div>
        </div>
    </div>


    <div class="footer">
        <div class="footer_top">
            <div class="auto_content">
                <div class="footer_top_dtail clearfix">
                    <div class="footer_logo">
                        <a href="#"><img src="images/header_logo.png" alt="#"/></a>
                        <p>Lorem Ipsum available but the have
                            suffered alteration in some form orem
                            Ipsum is that it has a more-or-less
                            normal distribution of letters, as
                            opposed making it look like readable.</p>
                    </div>

                    <div class="footer_links">
                        <ul>
                            <li><a href="#">Home </a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Fabric</a></li>
                            <li><a href="#">Style</a></li>
                            <li><a href="#">Measurements</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </div>
                    <div class="footer_links">
                        <ul>
                            <li><a href="#">Home </a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Fabric</a></li>
                            <li><a href="#">Style</a></li>
                            <li><a href="#">Measurements</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </div>

                    <div class="footer_socialLinks">
                        <ul>
                            <li><a href="#"><img src="images/fb_icon.png" alt="#"/></a></li>
                            <li><a href="#"><img src="images/twit_icon.png" alt="#"/></a></li>
                            <li><a href="#"><img src="images/google_icon.png" alt="#"/></a></li>
                            <li><a href="#"><img src="images/linked_icon.png" alt="#"/></a></li>
                            <li><a href="#"><img src="images/insta_icon.png" alt="#"/></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="copyright">
            <p>© Copyright 2016 men’s custom tailor. All Rights Reserved.</p>
        </div>
    </div>

    <div class="fixed_bottom">
        <a href="#">next</a>
    </div>
    <script type="text/javascript" src="js/isotope-docs.min.js"></script>
</div>

</body>
</html>
