<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>MEN'S CUSTOM TAILOR </title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/responsive.css">
    <link rel="stylesheet" type="text/css" href="css/owl.carousel.css">

    <script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="js/my_script.js"></script>
    <script type="text/javascript" src="js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="js/jquery.bxslider.js"></script>

    <script type="text/javascript">

        $(document).ready(function (e) {

            $('.banner_slider').bxSlider({
                minSlides: 1,
                maxSlides: 1,
                auto: true

            });

            $('.testimonial_slider').bxSlider({
                minSlides: 1,
                maxSlides: 1,

            });

        });

    </script>


</head>
<body>

<div id="wrapper">
    <div class="header">
        <div class="auto_content">
            <div class="header_dtail clearfix">
                <div class="men_logo">
                    <a href="#"><img src="images/header_logo.png" alt="#"/></a>
                </div>

                <div class="menu_cart_outer clearfix">
                    <div class="mens_menu clearfix">
                        <b>X</b>
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Fabric</a></li>
                            <li><a href="#">Style</a></li>
                            <li><a href="#">Measurements</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </div>
                    <a href="javascript:void(0)" class="menuIcon">&nbsp;</a>

                    <div class="cart_and_search clearfix">
                        <a href="javascript:void(0)" class="icon_search">&nbsp;</a>
                        <a href="javascript:void(0)" class="icon_cart">&nbsp;</a>
                        <a href="javascript:void(0)" class="icon_login">&nbsp;</a>
                    </div>
                    <div class="card_popup">
                        <h4>Cart Summary</h4>
                        <ul>
                            <li class="clearfix">
                                <a href="javascript:void(0)" class="list_close">&nbsp;</a>
                                <img src="images/shirt_img.png" alt="#"/>
                                <label>Shirt<b>Large x 1</b></label>
                                <strong> $625.65</strong>
                            </li>
                            <li class="clearfix">
                                <a href="javascript:void(0)" class="list_close">&nbsp;</a>
                                <img src="images/shirt_img.png" alt="#"/>
                                <label>Shirt<b>Large x 1</b></label>
                                <strong> $625.65</strong>
                            </li>
                        </ul>
                        <div class="total_cart clearfix">
                            <h5>TOTAL</h5>
                            <span>  $1,375.65</span>
                        </div>
                        <a href="javascript:void(0)" class="check_bttn">CHECKOUT</a>
                    </div>
                </div>

                <div class="search_div">
                    <a href="javascript:void(0)">&nbsp;</a>
                    <input type="search" value="" placeholder="Search..."/>
                </div>

            </div>
        </div>
    </div>


    <div class="container">
        <div class="banner_dtail">

            <ul class="banner_slider">
                <li>
                    <div class="banner_div">
                        <span><img src="images/slider_img.png" alt="#"/></span>

                        <div class="banner_div_txt">
                            <div class="auto_content">
                                <div class="banner_heading">
                                    <h3>Custom Made to the <br>Highest Standards.
                                        <p>Starting at $29.99</p>
                                    </h3>
                                    <a href="#">Shop Shirts</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </li>
                <li>
                    <div class="banner_div">
                        <span><img src="images/slider_img.png" alt="#"/></span>

                        <div class="banner_div_txt">
                            <div class="auto_content">
                                <div class="banner_heading">
                                    <h3>Custom Made to the <br>Highest Standards.
                                        <p>Starting at $29.99</p>
                                    </h3>
                                    <a href="#">Shop Shirts</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </li>
                <li>
                    <div class="banner_div">
                        <span><img src="images/slider_img.png" alt="#"/></span>

                        <div class="banner_div_txt">
                            <div class="auto_content">
                                <div class="banner_heading">
                                    <h3>Custom Made to the <br>Highest Standards.
                                        <p>Starting at $29.99</p>
                                    </h3>
                                    <a href="#">Shop Shirts</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="men_tailor_listing ">
            <div class="auto_content">
                <div class="men_tailor_listDtail clearfix">
                    <ul>
                        <li>
                            <img src="images/list_img2.png" alt="#"/>

                            <div class="overley_div_list">
                                <div class="list_inn_dtail">
                                    <h3>Welcome to Men’s Custom Tailor</h3>

                                    <p>Lorem Ipsum available but the have
                                        suffered alteration in some form orem
                                        Ipsum is that it has a more-or-less
                                        normal distribution of letters, as
                                        opposed making it look like readable.</p>
                                    <a href="#">Read More</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <img src="images/list_img1.png" alt="#"/>

                            <div class="overley_div_list">
                                <div class="list_inn_dtail">
                                    <h3>Welcome to Men’s Custom Tailor</h3>

                                    <p>Lorem Ipsum available but the have
                                        suffered alteration in some form orem
                                        Ipsum is that it has a more-or-less
                                        normal distribution of letters, as
                                        opposed making it look like readable.</p>
                                    <a href="#">Read More</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <img src="images/list_img2.png" alt="#"/>

                            <div class="overley_div_list">
                                <div class="list_inn_dtail">
                                    <h3>Welcome to Men’s Custom Tailor</h3>

                                    <p>Lorem Ipsum available but the have
                                        suffered alteration in some form orem
                                        Ipsum is that it has a more-or-less
                                        normal distribution of letters, as
                                        opposed making it look like readable.</p>
                                    <a href="#">Read More</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="best_shirt_section">
            <div class="auto_content">
                <div class="best_shirt_sectionDtail clearfix">
                    <div class="best_shirt_text">
                        <h3>The Best Performing Shirt In The World™</h3>

                        <p>Lorem Ipsum available but the have suffered alteration in some form
                            orem Ipsum is that it has a more-or-less normal distribution of letters,
                            as opposed making it look like readable.</p>
                        <a href="#">View More</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="popular_choices">
            <div class="auto_content">
                <div class="popular_choices_dtail">
                    <div class="popular_head">
                        <label>Popular choices</label>

                        <p>Lorem Ipsum available but the have suffered alteration in some form orem Ipsum is that it has
                            a more-or-less normal distribution of letters,
                            as opposed making it look like readable.</p>
                    </div>

                    <div class="popular_choices_list clearfix">
                        <ul>
                            <li>
                                <a href="#">
                                    <img src="images/shirt_img1.png" alt="#"/>
                                </a>
                                <span>
                                        <a href="#">Fineline Dress Shirt</a>
                                        $89.50
                                    </span>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="images/shirt_img2.png" alt="#"/>
                                </a>
                                <span>
                                        <a href="#">Adams Red Multi Check</a>
                                        $89.50
                                    </span>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="images/shirt_img3.png" alt="#"/>
                                </a>
                                <span>
                                        <a href="#">Fineline Dress Shirt</a>
                                        $89.50
                                    </span>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="images/shirt_img4.png" alt="#"/>
                                </a>
                                <span>
                                        <a href="#">Fineline Dress Shirt</a>
                                        $89.50
                                    </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


        <div class="people_says_section">
            <div class="auto_content">
                <div class="people_says_sectionDtail">
                    <div class="people_says_head">
                        <label>What People Says</label>

                        <p>Lorem Ipsum available but the have suffered </p>
                    </div>

                    <div class="testimonial_section">
                        <ul class="testimonial_slider">
                            <li class="clearfix">
                                <div class="people_say">
                                    <p>Vivamus nec magna vel orci dictum lacinia. Nulla velit risus, commod
                                        est ac, congue dictum tortor. Nunc viverra condimentum diam. Nullam
                                        lisis neque vitae mi dignissim egestas. Quisque fringilla, lorem et ultri
                                        molestie, justo est venenatis dolor, et sodales metus orci tristique aug
                                        In pharetra, elit eget mollis lobortis, dui erat pellentesque est, vitae viv
                                        erat dolor et arcu. Quisque mattis elit eget ante sagittis congue. Lor
                                        ipsum dolor sit amet,</p>

                                    <div class="testimonial_img clearfix ">
                                        <a href="#"><img src="images/test_img.png" alt="#"/></a>
                                        <label>
                                            - Darlene Aja custmer</label>
                                    </div>
                                </div>
                                <div class="people_say">
                                    <p>Vivamus nec magna vel orci dictum lacinia. Nulla velit risus, commod
                                        est ac, congue dictum tortor. Nunc viverra condimentum diam. Nullam
                                        lisis neque vitae mi dignissim egestas. Quisque fringilla, lorem et ultri
                                        molestie, justo est venenatis dolor, et sodales metus orci tristique aug
                                        In pharetra, elit eget mollis lobortis, dui erat pellentesque est, vitae viv
                                        erat dolor et arcu. Quisque mattis elit eget ante sagittis congue. Lor
                                        ipsum dolor sit amet,</p>

                                    <div class="testimonial_img  clearfix">
                                        <a href="#"><img src="images/test_img.png" alt="#"/></a>
                                        <label>
                                            - Darlene Aja custmer</label>
                                    </div>
                                </div>
                            </li>
                            <li class="clearfix">
                                <div class="people_say">
                                    <p>Vivamus nec magna vel orci dictum lacinia. Nulla velit risus, commod
                                        est ac, congue dictum tortor. Nunc viverra condimentum diam. Nullam
                                        lisis neque vitae mi dignissim egestas. Quisque fringilla, lorem et ultri
                                        molestie, justo est venenatis dolor, et sodales metus orci tristique aug
                                        In pharetra, elit eget mollis lobortis, dui erat pellentesque est, vitae viv
                                        erat dolor et arcu. Quisque mattis elit eget ante sagittis congue. Lor
                                        ipsum dolor sit amet,</p>

                                    <div class="testimonial_img  clearfix">
                                        <a href="#"><img src="images/test_img.png" alt="#"/></a>
                                        <label>
                                            - Darlene Aja custmer</label>
                                    </div>
                                </div>
                                <div class="people_say">
                                    <p>Vivamus nec magna vel orci dictum lacinia. Nulla velit risus, commod
                                        est ac, congue dictum tortor. Nunc viverra condimentum diam. Nullam
                                        lisis neque vitae mi dignissim egestas. Quisque fringilla, lorem et ultri
                                        molestie, justo est venenatis dolor, et sodales metus orci tristique aug
                                        In pharetra, elit eget mollis lobortis, dui erat pellentesque est, vitae viv
                                        erat dolor et arcu. Quisque mattis elit eget ante sagittis congue. Lor
                                        ipsum dolor sit amet,</p>

                                    <div class="testimonial_img  clearfix">
                                        <a href="#"><img src="images/test_img.png" alt="#"/></a>
                                        <label>
                                            - Darlene Aja custmer</label>
                                    </div>
                                </div>
                            </li>
                            <li class="clearfix">
                                <div class="people_say">
                                    <p>Vivamus nec magna vel orci dictum lacinia. Nulla velit risus, commod
                                        est ac, congue dictum tortor. Nunc viverra condimentum diam. Nullam
                                        lisis neque vitae mi dignissim egestas. Quisque fringilla, lorem et ultri
                                        molestie, justo est venenatis dolor, et sodales metus orci tristique aug
                                        In pharetra, elit eget mollis lobortis, dui erat pellentesque est, vitae viv
                                        erat dolor et arcu. Quisque mattis elit eget ante sagittis congue. Lor
                                        ipsum dolor sit amet,</p>

                                    <div class="testimonial_img  clearfix">
                                        <a href="#"><img src="images/test_img.png" alt="#"/></a>
                                        <label>
                                            - Darlene Aja custmer</label>
                                    </div>
                                </div>
                                <div class="people_say">
                                    <p>Vivamus nec magna vel orci dictum lacinia. Nulla velit risus, commod
                                        est ac, congue dictum tortor. Nunc viverra condimentum diam. Nullam
                                        lisis neque vitae mi dignissim egestas. Quisque fringilla, lorem et ultri
                                        molestie, justo est venenatis dolor, et sodales metus orci tristique aug
                                        In pharetra, elit eget mollis lobortis, dui erat pellentesque est, vitae viv
                                        erat dolor et arcu. Quisque mattis elit eget ante sagittis congue. Lor
                                        ipsum dolor sit amet,</p>

                                    <div class="testimonial_img  clearfix">
                                        <a href="#"><img src="images/test_img.png" alt="#"/></a>
                                        <label>
                                            - Darlene Aja custmer</label>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="footer">
        <div class="footer_top">
            <div class="auto_content">
                <div class="footer_top_dtail clearfix">
                    <div class="footer_logo">
                        <a href="#"><img src="images/header_logo.png" alt="#"/></a>

                        <p>Lorem Ipsum available but the have
                            suffered alteration in some form orem
                            Ipsum is that it has a more-or-less
                            normal distribution of letters, as
                            opposed making it look like readable.</p>
                    </div>

                    <div class="footer_links">
                        <ul>
                            <li><a href="#">Home </a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Fabric</a></li>
                            <li><a href="#">Style</a></li>
                            <li><a href="#">Measurements</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </div>
                    <div class="footer_links">
                        <ul>
                            <li><a href="#">Home </a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Fabric</a></li>
                            <li><a href="#">Style</a></li>
                            <li><a href="#">Measurements</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </div>

                    <div class="footer_socialLinks">
                        <ul>
                            <li><a href="#"><img src="images/fb_icon.png" alt="#"/></a></li>
                            <li><a href="#"><img src="images/twit_icon.png" alt="#"/></a></li>
                            <li><a href="#"><img src="images/google_icon.png" alt="#"/></a></li>
                            <li><a href="#"><img src="images/linked_icon.png" alt="#"/></a></li>
                            <li><a href="#"><img src="images/insta_icon.png" alt="#"/></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="copyright">
            <p>© Copyright 2016 men’s custom tailor. All Rights Reserved.</p>
        </div>
    </div>

</div>

</body>
</html>
